extends layout 
 
block content 
  h1(class = 'container-fluid p-5 bg-info text-danger text-center')= title 
  if (toShow == null) 
    h2 No instance to delete 
  else
    - let iceCreamid = toShow._id 
    - let icecream_brand = toShow.icecream_brand 
    - let icecream_flavour = toShow.icecream_flavour
    - let calories = toShow.calories
   
    div.row(class='mb-2') 
        div.mr-1 ID is #{iceCreamid} 
    - let actionid = "/resource/iceCreams/" + iceCreamid 
    form(id='iceCreamForm', action= actionid, method="PUT") 
        div.form-group 
            label.iceCreamAttr(for='icecream_brand') iceCream_brand 
            input#icecream_brand(type='text', name='icecream_brand', value= icecream_brand ) 
        div.form-group 
            label.iceCreamAttr(for='quantity') iceCream_flavour
            input#icecream_flavour(type='text', name='icecream_flavour', value= icecream_flavour ) 
        div.form-group 
            label.iceCreamAttr(for='calories') iceCream calories 
            input#calories(type='number', name='calories', value= calories) 
        input(type="submit") 
 
  script. 
    document.forms['iceCreamForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 